<form action="/yolo/upload_file" method="post" enctype="multipart/form-data">
    Select image to upload:
    <input type="text" name="title" id="titile">
    <input type="file" name="file" id="file">
    <input type="submit" value="Upload Image" name="submit">
</form>
