<form action="/yolo/upload_for_image" method="post" enctype="multipart/form-data">
    Select image to upload:

    <input type="file" name="file" id="file">
    <input type="submit" value="Upload Image" name="submit">
</form>
