{% load static %}
<!DOCTYPE HTML>
<!--
	Astral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Astral by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static "assets/css/main.css" %}"/>
{#		<noscript><link rel="stylesheet" href="{% static "assets/css/noscript.css" %}" /></noscript>#}
{#        <link rel="stylesheet" href="{% static "/assets/css/main.css" %}" />#}
	</head>
	<body class="is-preload">

		<!-- Wrapper-->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<!-- Me -->
							<article id="home" class="panel intro">
								<header>
{#									<h1>Jane Doe</h1>#}
{#									<p>Senior Astral Projectionist</p>#}
                                    <form action="/yolo/upload_for_image_path" method="post" enctype="multipart/form-data">
                                                <p><b>YOLO demo</b></p>
                                                <p>Thai Thien -- 17C 12 031</p>
                                                <p>Hướng dẫn: Chọn hình rồi bấm nút nhận dạng</p>
                                                <ul class="actions">
                                                    <li>
                                                        <div class="form-group">
                                                            <label for="file">Chọn hình</label>
                                                            <input type="file" class="form-control-file" id="file" name="file" placeholder="Choose your image">
                                                        </div>
                                                        <div class="form-group">
                                                            <center>
                                                                    <button type="submit" value="Upload Image" name="submit" id="submit" class="form-control-file" >Nhận dạng</button>
                                                            </center>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </form>
								</header>
								<div class="pic">

									<img id="resultImage" class="resultimage" src="{% static "/assets/images/me.jpg" %}" alt="" />
								</div>
							</article>
					</div>
				<!-- Footer -->
					<div id="footer">
						<ul class="copyright">
							<li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static "assets/js/jquery.min.js" %}"></script>
			<script src="{% static "assets/js/browser.min.js" %}"></script>
			<script src="{% static "assets/js/breakpoints.min.js" %}"></script>
			<script src="{% static "assets/js/util.js" %}"></script>
			<script src="{% static "assets/js/main.js" %}"></script>
    			<script>
				function upload(event) {
						$('body').append('<div class="loader"></div>');
						event.preventDefault();
						var data = new FormData($('form').get(0));

						$.ajax({
							url: $(this).attr('action'),
							type: $(this).attr('method'),
							data: data,
							cache: false,
							processData: false,
							contentType: false,
							success: function(srcResult) {
								// alert(srcResult);
								if (srcResult.length >0)
								{
									if (srcResult[0] == '/')
									{
										alert('No object is detected!')
									}
									srcResult = srcResult.substring(srcResult.indexOf("/"));

									$("#resultImage").attr('src', srcResult);
								}else{
									alert("Something wrong! Response is empty!")
								}
								$('.loader').remove();
							}
						});
					return false;
					}
				$(document).ready(function(){

					$("#file").on("change", function(){
						// alert($(this).val())
					})

					$(function() {
						$('form').submit(upload);
					});
				})
			</script>

	</body>
</html>